/* Resetting default margin to make sure our design looks consistent across browsers */
body{
  margin: 0%;
}

/* Ensuring smooth scrolling for anchor links */
html{
  scroll-behavior: smooth;
}

/* Setting up a grid layout for our main container, which covers the full viewport height */
#grid-container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer";
}

/* Styling for the header section */
header{
  display: flex;
  flex-direction: column;
  grid-area: header;
  background: url(../Images/home-header.jpg); /* bildet komentar */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}

/* Styling for the header text */
#header-text{
  background-color: rgba(255, 255, 255, 0.876);
  max-width: 55%;
  margin-left: 30px;
  margin-top: 100px;
  padding: 15px;
  border-radius: 10px;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  line-height: 2.0;
}

/* Styling for the navigation bar */
nav {
  background-color: white; /* Setter hvit bakgrunn for nav */
  display: flex;
  justify-content: space-between; /* Spre elementene horisontalt */
  align-items: center; /* Sentrere elementene vertikalt */
  width: 100%; /* Sørger for at nav tar opp hele bredden */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Legger til en lett skygge for dybdeeffekt */
  z-index: 1000; /* Sørger for at navigasjonsbaren legger seg over andre elementer */
}

/* Styling for the list in the navigation bar */
nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

/* Removing default list style and adding spacing for list items in the navigation bar */
nav ul li{
  list-style: none;
  display: inline-block;
}

/* Styling for links in the navigation bar */
nav ul li a{
  text-decoration: none;
  color: black;
  padding: 20px;
}

/* Adding a hover effect to links in the navigation bar */
nav ul li a:hover{
  color: blue;
}

/* Styling for the figure (logo) in the navigation bar */
nav figure{
  margin: 10px;
}

/* Styling for the logo image */
#logo{
  width: 150px;
  height: 100%;
  border: black;
  object-fit: cover;
}

/* Special styling for the "contact us" link in the navigation bar */
#contact-us{
  background-color: #312c2c;
  color: rgba(255, 255, 255, 0.986);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

/* Styling for the mobile menu button */
.menu-button{
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  display: none; /* Denne vil nå vises på små skjermer */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer; /* Legger til en peker cursor for bedre brukeropplevelse */
  z-index: 100; /* Sikrer at knappen er over andre elementer */
}

/* Skjuler standard checkbox, men den er fortsatt funksjonell */
.menu-toggle {
  display: none;
}

/* Når checkboxen er merket, vis mobilmenyen */
#menu-toggle:checked + .my-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Styling for de strekene i hamburgermenyen */
.menu-button .links{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 3px;
  transition: all 0.3s ease-in-out; /* Legger til en overgangseffekt */
}

/* Transformere burger til kryss */
#menu-toggle:checked ~ .menu-button .links:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#menu-toggle:checked ~ .menu-button .links:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked ~ .menu-button .links:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Viser .my-links når #menu-toggle er merket */
#menu-toggle:checked ~ .my-links {
  display: flex;
}

/* Styling for the main content section*/
main{
  grid-area: main;
}

/* A flexible container for our articles or cards */
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.25rem;
  background-color: rgb(250, 250, 250);
}

/* Styling for headers inside our flex container */
.flex-container h2 {
  flex-basis: 100%;
  margin: 1.4rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; /* This will make sure all cards stretch to the same height */
}

/* Styling for each card in our flex container */
.card {
  color: black;
  width: 30%; /* You might want to adjust this for responsiveness */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes content to top and button to bottom */
  padding: 15px;
  margin: 8px;
  background-color: white;
  box-shadow: 0.5px 5px 5px -3px black;
  border-radius: 1rem;
  position: relative;
}

/* Styling for figures inside our cards */
.card figure{
  margin: 0;
  width: 100%;
  height: auto;
}

/* Styling for images inside our card figures */
.card figure img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0.5px 5px 7px -3px black;
}

/* General styling for buttons */
.button{
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 15px -3px rgb(179, 179, 211);
  margin-top: 15px;

  width: 70px; /* Width of the button */
  height: 20px;
}

/* Adding a hover effect to buttons */
.button:hover{
  background-color: blue;
  transform: scale(1.2);
}


/* A flexible container specifically for the contact section */
.contact_flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(250, 250, 250);
  margin: 1.25rem;
}

/* Styling for headers inside our contact flex container */
.contact_flex h2{
  flex-basis: 100%;
  text-align: center;
}

/* Styling for each section inside our contact flex container */
.sec1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding-top: 30px;
}

/* Styling for paragraphs inside our contact sections */
.sec1 p{
  background-color: white;
  width: 50%;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  box-shadow: 0px 2px 5px -3px rgba(24, 24, 23, 0.959);
}

/* Styling for links inside our contact sections */
.sec1 a{
  display: inline-block;
  background-color: black;
  text-decoration: none;
  text-align: center;
  width: 50%;
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
  font-size: large;
  color: white;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.726);
}

/* Adding a hover effect to links in our contact sections */
.sec1 a:hover{
  transform: scale(1.2);
  background-color: blue;
}

/* Styling for input fields in our contact sections */
.sec1 input{
  width: 50%;
  margin: 30px;
  padding: 15px;
}

/* Styling for the topical slide */
@keyframes gradientBackground {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Har problemet med den*/
#main-topical {
  grid-area: main;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4; /* Light background for the main area */
}

#main-topical #dynamic-article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

#main-topical .article-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: start; /* Align to the start for better text readability */
  background: linear-gradient(to right, #ffffff, #e6f1ff);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


#main-topical .article-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  order: 2; /* Change order to alternate text and image */
}

#main-topical .article-section .text-content {
  padding: 15px;
  text-align: justify;
  order: 1; /* Change order to alternate text and image */
}

/* Add margin-top adjustment for the fourth image */
#main-topical #dynamic-article .adjust-image {
  margin-top: 50px; /* This is to move the image down */
}

/* Hover effects */
#main-topical .article-section:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

#main-topical .article-section img:hover {
  transform: scale(1.05);
}

/* Pseudo-element for border effect */
#main-topical .article-section .text-content::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #007bff;
  border-radius: 15px;
  z-index: -1;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#main-topical .article-section .text-content:hover::before {
  opacity: 1;
}

/* Styling for the accessibility slide */


/* Styling for the contact us slide */
input[type=text], select, textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #312c2c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: blue;
}

#sec1-contact-us{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(241, 239, 239, 0.781);
  padding: 20px 0;

  
}

form{
    width: 70%;
}

#sec2-contact-us {
    padding: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color: rgba(241, 239, 239, 0.781);
  margin-top: 1.25rem;
  border-radius: 5px;
}

#sec2-contact-us section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 0 30px;
  padding: 30px 0;
  width: 33%;
}

#sec2-contact-us section p{
  margin: 20px 30px;
  
}

#h2-contact{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(97, 95, 95);
}

/* Styling for the footer */
footer {
  background-color: white;
  color: black;
  padding: 20px 0;
  text-align: center;
  grid-area: footer;
}

/* Styling for links in the footer */
footer a {
  color: black;
  text-decoration: none;
}

/* Adding a hover effect to links in the footer */
footer a:hover {
  color: blue;
}

/* Styling for headers in the footer */
footer h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Adding spacing between sections in the footer */
.contact-info, .social-media, .copyright {
  margin-bottom: 20px;
}

/* Adding spacing beside the icons in the footer */
.fa-envelope, .fa-facebook, .fa-instagram {
  margin-right: 5px;
}

/* Styling for h2 headers (used for consistent styling across the site) */
#h2id{
  text-align: center;
}

/* Styling for the "move page up" button */
.move-page-up{
  position: fixed;
  width: 50px;
  height: 50px;
  background: black;
  bottom: 20px;
  right: 10px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

/* Media queries for responsive design */
@media only screen and (max-width: 1418px) {
  .card{
    width: 46%;
  }

  header{
    height: 70vh;
  }

  #grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "nav nav"
      "header header"
      "main main"
      "footer footer";
  }
  
  #header-text {
    font-size: 0.9rem;
    padding: 0.8em;
    background-color: rgba(255, 255, 255, 0.876);
  }
}

@media only screen and (max-width: 1187px) {
  .card{
      width: 45%;
  }

  #header-text {
      font-size: 0.8rem;
      padding: 0.9em;
      background-color: rgba(255, 255, 255, 0.876);
  }

  .centered-box {
    max-width: 1100px;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 959px) {
  .card {
      width: 42%;
  }

  .centered-box {
    width: 90%;
  }

  #header-text {
    max-width: 55%;
    font-size: 0.8rem;
    padding: 0.8rem;
    margin: 55px;
    background-color: rgba(255, 255, 255, 0.876);
  }

  footer {
    padding: 20px 10px;
  }
}


@media only screen and (max-width: 700px) {
  .menu-button{
      display: flex;
  }

  .my-links{
      display: none; /* Hidden by default */
      flex-direction: column; /* Stacking elements vertically */
      position: absolute; /* Positioning so that the menu can overlap content */
      top: 60px; /* Placement under the hamburger button */
      left: 0;
      right: 0; /* Full width */
      background-color: #ffffff; /* Menu background color */
  }

  .my-links ul{
      flex-direction: column;
      width: 100%;
  }

  .my-links ul li{
      text-align: center;
      padding: 20px;
      margin: 8px;
      background-color: rgb(241, 241, 241);
  }

  .my-links ul li a{
      padding: .5rem 1rem;
  }

  nav{
      flex-direction: column;
      align-items: flex-start;
      color: #ffffff;
  }

  

  #header-text {
      max-width: 55%;
      font-size: 0.8rem;
      padding: 0.8rem;
      margin: 40px;
      background-color: rgba(255, 255, 255, 0.876);
  }
 
  main #dynamic-article {
    max-width: 100%;
  }

  main .article-section {
    grid-template-columns: 1fr;
    padding: 15px; /* Reduced padding */
  }

  main .article-section img {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Adjust height proportionally */
    margin-bottom: 20px; /* Space between image and text */
  }

  main .article-section .text-content {
    font-size: smaller; /* Adjust text size for readability */
    padding: 10px; /* Reduced padding for text */
  }
}

@media only screen and (max-width: 650px) {
  .card{
      width: 100%;
  }

  #header-text {
    max-width: 55%;
    padding: 10px;
    margin: 25px; /* Øk dette tallet for mer plass på bunnen inne i boksen */
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.876);
  }
  

  .sec1 p, .sec1 a, .sec1 input{
      width: 100%;
  }

  footer {
      padding: 20px 10px;
      text-align: center;
  }

  #grid-container{
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "nav"
      "header"
      "main"
      "footer";
  }
}